<div class="panel-heading"> Трафик пользователя <strong><%= username %></strong> за
    <%= year %>/<%= month %>/<%= day %></div>
<div class="panel-body"> <div class="table-responsive"> <table class="table
            table-striped table-bordered table-hover" id="user-day"> <thead>
                <tr> <th>Домен</th><th>Кэш (<span></span>)</th> <th>Загружено (<span></span>)</th><th>Запросы (<span></span>)</th></tr></thead> <tfoot> <tr> <th>Домен</th>
                    <th>Кэш</th> <th>Загружено</th> <th>Запросы</th> </tr>
    </tfoot> </table> </div>
</div>

